<div class="form-horizontal">
    <h3>Create a new Page</h3>
    <div class="form-group">
        <div class="col-md-offset-2 col-sm-2">
            <a id="Create" name="Create" class="btn btn-primary" href="#/Pages/new"><span class="glyphicon glyphicon-plus-sign"></span> Create</a>
        </div>
    </div>
</div>
<hr/>
<div>
    <h3>Search for Pages</h3>
    <form id="PageSearch" class="form-horizontal">
        
    <div class="form-group">
        <label for="image_path" class="col-sm-2 control-label">Image_path</label>
        <div class="col-sm-10">
            <input id="image_path" name="image_path" class="form-control" type="text" ng-model="search.image_path" placeholder="Enter the Page Image_path"></input>
        </div>
    </div>

    <div class="form-group">
        <label for="page_number" class="col-sm-2 control-label">Page_number</label>
        <div class="col-sm-10">
            <input id="page_number" name="page_number" class="form-control" type="text" ng-model="search.page_number" placeholder="Enter the Page Page_number"></input>
        </div>
    </div>




    <div class="form-group">
        <label for="chapter" class="col-sm-2 control-label">Chapter</label>
        <div class="col-sm-10">
            <select id="chapter" name="chapter" class="form-control" ng-model="search.chapter" ng-options="c as c.title for c in chapterList">
                <option value="">Choose a Chapter</option>
            </select>
        </div>
    </div>


        <div class="form-group">
            <div class="col-md-offset-2 col-sm-10">
                <a id="Search" name="Search" class="btn btn-primary" ng-click="performSearch()"><span class="glyphicon glyphicon-search"></span> Search</a>
            </div>
        </div>
    </form>
</div>
<div id="search-results">
        <div class="table-responsive">
        <table class="table table-responsive table-bordered table-striped clearfix">
            <thead>
                <tr>
                    <th>Image_path</th>
                    <th>Page_number</th>
                    <th>Updated_date</th>
                    <th>Deleted_date</th>
                    <th>Created_date</th>
                    <th>Chapter</th>
                </tr>
            </thead>
            <tbody id="search-results-body">
                <tr ng-repeat="result in filteredResults | startFrom:currentPage*pageSize | limitTo:pageSize">
                    <td><a href="#/Pages/edit/{{result.id}}">{{result.image_path}}</a></td>
                    <td><a href="#/Pages/edit/{{result.id}}">{{result.page_number}}</a></td>
                    <td><a href="#/Pages/edit/{{result.id}}">{{result.updated_date| date:'yyyy-MM-dd HH:mm:ss Z'}}</a></td>
                    <td><a href="#/Pages/edit/{{result.id}}">{{result.deleted_date| date:'yyyy-MM-dd HH:mm:ss Z'}}</a></td>
                    <td><a href="#/Pages/edit/{{result.id}}">{{result.created_date| date:'yyyy-MM-dd HH:mm:ss Z'}}</a></td>
                        <td><a href="#/Pages/edit/{{result.id}}">{{result.chapter.title}}</a></td>
                </tr>
            </tbody>
        </table>
    </div>

        <ul class="pagination pagination-centered">
        <li ng-class="{disabled:currentPage == 0}">
            <a id="prev" href ng-click="previous()">«</a>
        </li>
        <li ng-repeat="n in pageRange" ng-class="{active:currentPage == n}" ng-click="setPage(n)">
            <a href ng-bind="n + 1">1</a>
        </li>
        <li ng-class="{disabled: currentPage == (numberOfPages() - 1)}">
            <a id="next" href ng-click="next()">»</a>
        </li>
    </ul>

</div>